.navlink{
    
    text-decoration: none;
    font: 20px sans-serif;
    text-align: center;
    color: black;
    
}
.navlink:hover{
    color: #91d3de;
    transition: 700ms ease-out;
    font: 22px sans-serif;
}
nav{
    border: 3px solid gray;
    border-radius: 10px;
}
body{
    font: 16px sans-serif;
}
.black{
    background: gray;
    height: 120px;
}
html{
    background: linear-gradient(80deg, #91d3de, #e73);
}
#linx{
    height: 30px;
    width: 1500px;
}